<!-- your html code here -->
<h2>Contact</h2>
    <p>Placeholder text for the contact section.</p>
<section class="container col-8 py-5 bg-light">
    
    <form>
        <div class="mb-3">
            <input type="email" name="email" class="form-control" placeholder="Your E-mail">
        </div>
        <div class="mb-3">
            <textarea name="message" class="form-control" placeholder="Your message"></textarea>
        </div>
        <div class="text-end">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>
