<!-- your html code here -->

<section class="container py-5">
    <div class="row">
        <div class="col-md-9">
            <h2>This First Heading Will Catch Your Eye</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ad aliquid repudiandae est adipisci accusantium vitae quos reprehenderit, nulla similique libero architecto eaque a voluptates nesciunt officia voluptas.</p>
        </div>
        <div class="col-md-3">
            <img src="/website\assets\img\1.jpg" id="img" alt="Image Description" class="img-fluid">
        </div>
    </div>
</section>
