<!-- your html code here -->
<p>Hello, I'm the portfolio.html</p>
<section class="container py-5">
    <h2>Portfolio</h2>
    <p>Placeholder text for the portfolio section.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="image3.jpg" alt="Project Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Project description.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="image4.jpg" alt="Project Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Project description.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="image5.jpg" alt="Project Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Project description.</p>
                </div>
            </div>
        </div>
    </div>
</section>
