<!-- your html code here -->

<section class="container py-5">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, incidunt accusantium? Modi, mollitia perferendis ipsa, autem, quae dolores fuga consequuntur ab a dolor earum magni corporis officia eligendi?</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/website\assets\img\big-project-image.png" alt="Project Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur quaerat aspernatur eaque temporibus odit fuga distinctio modi!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/website\assets\img\big-project-image.png" alt="Project Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur quaerat aspernatur eaque temporibus odit fuga distinctio modi!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/website\assets\img\big-project-image.png" alt="Project Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur quaerat aspernatur eaque temporibus odit fuga distinctio modi!</p>
                </div>
            </div>
        </div>
    </div>
</section>
