<!-- your html code here -->

<section class="container py-5 bg-light">
    <div class="row">
        <div class="col-md-3">
            <img src="/website\assets\img\2.jpg" id="img" alt="Image Description" class="img-fluid img-1">
        </div>
        <div class="col-md-9">
            <h2>The Second Heading Is Pretty Cool Too</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptas nobis doloremque cupiditate, quam dolorum tempora rerum officia perferendis, eveniet sed nostrum delectus saepe corrupti recusandae, vero eos.</p>
        </div>
        
    </div>
</section>
