<!-- your html code here -->
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>
<section class="container py-5 bg-light">
    <div class="row">
        <div class="col-md-4">
            <img src="/website\assets\img\2.jpg" alt="Image Description" class="img-fluid img-1">
        </div>
        <div class="col-md-8">
            <h2>The Second Heading Is Pretty Cool Too</h2>
            <p>Placeholder text for the second section.</p>
        </div>
        
    </div>
</section>
